html, body {
    background-color: green;
    height: 100%;
    margin: 0;
}

#counter-zone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    align-content: center;
}

#counter-time {
    display: flex;
    justify-content: center;
}

#cards-zone{
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
}

#cards-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
    height: 80%;
    width: 100%;
    margin: auto;
}

.card{
    padding: 3px;
    place-items: center;
    background-image: url('img/back.jpg');
}